{% load static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Preparation Guide{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/project-style.css' %}">
</head>
<body>

<!--<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium large">-->
<!--<button class="menu-icon" type="button" data-toggle="responsive-menu"></button>-->
<!--<div class="title-bar-title">Menu</div>-->
<!--</div>-->

<div class="grid-x top-bar" id="responsive-menu">
  <div class="cell medium-8 medium-offset-2">
    <div class="grid-x">
      <div class="cell medium-2 menu-text">
        <a href="{% url 'index' %}"><h3>Site Title</h3></a>
      </div>
      <div class="cell medium-7">
        <ul class="menu">
          <li><a href="{% url 'subject_list' %}">Study</a></li>
          <li><a href="{% url 'mcq_subject_list' %}">MCQ</a></li>
          <li><a href="">Model Test</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
      <div class="cell medium-3 top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% block breadcrumb %}
{% endblock %}


{% block content %}
{% endblock %}

</body>
</html>