{% extends "base.html" %}

{% block content %}
<div class="grid-container full">
    <div class="grid-x">
        <div class="cell">
            <img src="/static/images/home-middle-univer.jpg" alt="welcome image"/>
        </div>
        <div class="cell" id="value-proposition-container">
            <div class="grid-x">
                <div class="cell large-8 large-offset-2 text-center">
                    <div class="value-proposition">
                        <h1>Better Education For a Better World</h1>
                        <h5>Investigationes Demonstraverunt lectores legere me lius ii legunt </h5>
                        <h5>saepius lectorum parum calarm.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid-container full" id="content-container">
    <div class="grid-x">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell medium-4 service-item">
                    <div class="grid-x">
                        <div class="cell image">
                            <img src="/static/images/services-home.png" alt=""/>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="cell">
                            <a href="{% url 'subject_list' %}">
                                <h4>Beater Study for Bcs Exam</h4>
                            </a>
                            <p>Lorem ipsum dolor sit armet, consectetuer adipiscing elit, sed diam nonumy nibh equismod tincidunt ut laoreet.</p>
                        </div>
                    </div>
                </div>
                <div class="cell medium-4 service-item">
                    <div class="grid-x">
                        <div class="cell image">
                            <img src="/static/images/imfd-ds2.png" alt=""/>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="cell  content">
                            <a href="{% url 'mcq_subject_list' %}"><h4>Mcq For Bcs Exam</h4></a>
                            <p>Lorem ipsum dolor sit armet, consectetuer adipiscing elit, sed diam nonumy nibh equismod tincidunt ut laoreet.</p>
                        </div>
                    </div>
                </div>
                <div class="cell medium-4 service-item">
                    <div class="grid-x">
                        <div class="cell image">
                            <img src="/static/images/imfd-ds3.png" alt=""/>
                        </div>
                    </div>
                    <div class="grid-x">
                        <div class="cell">
                            <h4>Professional Teachers</h4>
                            <p>Lorem ipsum dolor sit armet, consectetuer adipiscing elit, sed diam nonumy nibh equismod tincidunt ut laoreet.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="grid-container" id="event-container">
    <div class="grid-x">
        <div class="cell">
            <h1 class="cell" id="event-title">Upcoming Education Events</h1>
            <div class="grid-x event-item">
                <div class="cell medium-2">
                    <div class="event-date">
                        <h1>24</h1>
                        <div class="underlined"></div>
                        <p>October 2018</p>
                    </div>
                </div>
                <div class="cell medium-3">
                    <div class="event-image">
                        <img src="" alt=""/>
                    </div>
                </div>
                <div class="cell medium-7 event-teaser">
                    <a href="/">The Geographies of a Care-Based Economy</a>
                    <p>Investigationes demonstraverunt lectores legere me lius ii legunt seapius lectorum parum claram nunc putamus parum claram</p>
                </div>
            </div>
            <div class="grid-x event-item">
                <div class="cell medium-2">
                    <div class="event-date">
                        <h1>24</h1>
                        <div class="underlined"></div>
                        <p>October 2018</p>
                    </div>
                </div>
                <div class="cell medium-3">
                    <div class="event-image">
                        <img src="" alt=""/>
                    </div>
                </div>
                <div class="cell medium-7 event-teaser">
                    <a href="/">The Geographies of a Care-Based Economy</a>
                    <p>Investigationes demonstraverunt lectores legere me lius ii legunt seapius lectorum parum claram nunc putamus parum claram</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid-x">
    <div class="cell text-center">
        <div class="registration-container">
            <div class="background-image"></div>
            <div class="content">
                <h2>Get the Coaching Training for Free</h2>
                <h4>It’s limited seating! Hurry up.</h4>
                <a href="#features" class="button btn-registration">View All Features</a>
            </div>
        </div>
    </div>
</div>

<div class="grid-container full" id="news-container">
    <div class="grid-x">
        <div class="grid-container">
            <h1 id="section-title">Our Latest News</h1>
            <div class="grid-x">
                <div class="cell medium-4 news-item-first">
                    <div class="card">
                        <img src="/static/images/list-univer.jpg">
                        <div class="card-section">
                            <p>October 24, 2016</p>
                            <h3>This is a simple card with an image.</h3>
                        </div>
                    </div>
                </div>
                <div class="cell medium-5 news-item-list">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="image">
                                <img src= "/static/images/list-univer-mini.jpg">
                            </div>
                        </div>
                        <div class="media-object-section main-section">
                            <p>October 3, 2016</p>
                            <h5>Dreams feel real while we're in them.</h5>
                        </div>
                    </div>

                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="image">
                                <img src= "/static/images/list-univer-mini.jpg">
                            </div>
                        </div>
                        <div class="media-object-section main-section">
                            <p>October 3, 2016</p>
                            <h5>Dreams feel real while we're in them.</h5>
                        </div>
                    </div>
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="image">
                                <img src= "/static/images/list-univer-mini.jpg">
                            </div>
                        </div>
                        <div class="media-object-section main-section">
                            <p>October 3, 2016</p>
                            <h5>Dreams feel real while we're in them.</h5>
                        </div>
                    </div>

                </div>
                <div class="cell medium-3">
                    <div class="card">
                        <img src="/static/images/list-univer.jpg">
                        <div class="card-section text-center">
                            <h2>Subscribe</h2>
                            <p>to our newsletter</p>
                        </div>
                        <div class="card-section">
                            <form>
                                <div class="grid-container">
                                    <div class="grid-x grid-padding-x">
                                        <div class="cell">
                                            <label>Input Label
                                                <input type="text" placeholder=".medium-6.cell">
                                            </label>
                                        </div>

                                        <div class="cell">
                                            <input type="button" class="button" name="subscribe" value="subscribe"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid-container" id="mission-container">
    <div class="grid-x">
        <div class="cell medium-6">
            <div class="mission-content">
                <h2>Mission and Philosophy of Our University</h2>
                <p>Investigationes demonstraverunt lectores me lius quod ii legnt seapius. Claritas est etiam processs dynamics, qui sequitur mtationem consuetudium lectorum modo typi.</p>
            </div>
        </div>
        <div class="cell medium-6">
            <div class="mission-video">
                <a href="">
                    <img src="/static/images/univer-if-video-img.jpg" alt="mission video"/>
                    <div><img src="/static/images/youtube4.svg" alt="video icon"/></div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="grid-container full" id="testimonial-container">
    <div class="grid-x">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <div class="testimonial-panel">
                        <div class="grid-x" id="testimonial-title">
                            <div class="cell text-center">
                                <h2>What People Say</h2>
                                <p>How real people siad about Education in Univer</p>
                            </div>
                        </div>
                        <div class="grid-x" id="testimonial-img-sec">
                            <div class="cell text-center">
                                <div class="testimonial-img">
                                    <img src="/static/images/people-3.jpg" alt="people-3"/>
                                </div>
                                <div class="testimonial-img"></div>
                                <div class="testimonial-img"></div>
                                <div class="testimonial-img"></div>
                                <div class="testimonial-img"></div>
                            </div>
                        </div>
                        <div class="grid-x" id="testimonial-quote">
                            <div class="cell text-center">
                                <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat est etiam processus dynamicus, qui sequitur mutationem consuetudium.</h4>
                            </div>
                            <div class="cell text-center name">
                                <p>Paul Richards</p>
                                <p>Computer Science Department</p>
                            </div>
                            <div class="cell text-center btn-slide-change">
                                <a class="button small" href="#">Prev</a><a class="button small" href="#">Next</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid-container full" id="question-container">
    <div class="grid-x">
        <div class="grid-container">
            <div class="grid-x">
                <div class="cell">
                    <div class="grid-x">
                        <div class="cell medium-2">
                            <img src="/static/images/message.png" alt="message"/>
                        </div>
                        <div class="cell medium-6">
                            <h2>Got a Question?</h2>
                            <p>We're here to help. Send us an email or call us at 1(800)555-5555</p>
                        </div>
                        <div class="cell medium-4">
                            <a href="#features" class="button">GET IN TOUCH!</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}